services:
  navigator:
    image: alpine:latest
    container_name: navigator
    restart: unless-stopped
    working_dir: /app
    command: ./server
    ports:
      - "11080:11080"
    dns:
      - 1.1.1.1
      - 8.8.8.8
    volumes:
      - ./index.html:/app/index.html:ro
      - ./services.json:/app/services.json:ro
      - ./assets/dark.png:/app/dark.png:ro
      - ./assets/light.png:/app/light.png:ro
      - ./status-api/server.c:/app/server.c:ro
      - ./fonts:./fonts:ro
    entrypoint: |
      sh -c "
        apk add --no-cache curl gcc musl-dev &&
        gcc -Os -s -ffunction-sections -fdata-sections -Wl,--gc-sections -o server server.c &&
        strip --strip-all server &&
        ls -lh server &&
        ./server
      "
